* {margin: 0; padding: 0}
body, html {position: relative; width: 100%; height: 100%; }
#scene-1 {width: 100%; height: 100%; min-height: 13000px}
.elements {position: absolute;}
.container {position: fixed; overflow: hidden;width: 1000px; margin: 0 0 0 -500px; top: 100px; display: block; height: 600px; left: 50%; background: white }
#scene1a {background: transparent url('../images/bg-scene1.gif') center center no-repeat; width: 1000px; height: 600px;}

#scene2a {width:300px; height: 500px; background: url('../images/bg-scene2.png') top center no-repeat; left: 0;}
#scene2b {width:300px; height: 600px; background: url('../images/bg-scene3.png') top center no-repeat; left: 320px;}
#scene2c {width:300px; height: 500px; background: url('../images/bg-scene4.png') top center no-repeat; left: 640px;}
#scene2-alert a {width: 211px;height: 206px;display: block; background: transparent url('../images/notif-bear.png') center center no-repeat;}
#scene2-alert {width: 211px; top: 100px; height: 206px; left: 50%; margin-left: -150px;}
#nav {position: fixed; top: 2%; left: 40%}
#interText1 {text-align: center; padding: 50px 0 0; font-size: 1.5em}
.scroll {position: relative; z-index: 20;}
.popup {display: none; padding: 20px; background: white; -webkit-border-radius: 10px; border-radius: 10px; position: absolute; top: -30%; border: 1px solid #ccc;}


#header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: white url('../images/scene-first3.jpg') top center no-repeat;
  height: 1760px;
  position: relative;
}
#bear-scene1 {
  background: transparent url('../images/bear15.gif') center center no-repeat;
  background-size: 80%;
  width: 399px;
  height: 520px;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
#ride {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  top: 140px;
  font-size: 2em;
  color: #D3C99A;
  text-decoration: none;
  animation: ride 2s;
  -webkit-animation: ride 2s infinite; /* Safari and Chrome */
}

#bear {
  width: 399px;
  height: 520px;
  display: block
}

#scene-2 {
  width: 100%;
  height: 750px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1
}

#popup-send {
  width: 250px;
  height: 250px;
  display:none;
  position: fixed;
  bottom: 40%;
  right: 25%;
}

#popup-send a {
  width: 250px;
  height: 250px;
  display: block;
  text-indent: -999em;
  background: transparent url('../images/handbear6.gif') center center no-repeat;
}

#plane-mini {
  width: 118px;
  height: 71px;
  background: transparent url('../images/plane-mini2.png') center center no-repeat;
  display: none;
  position: absolute;
  bottom: 13%;
  right: 43%;
  z-index: 2
}

#plane-small {
  width: 250px;
  height: 150px;
  position: fixed;
  top: 30%;
  background: transparent url('../images/plane-small2.png') center center no-repeat;
}

#logo {
  width: 152px;
  height: 55px;
  position: absolute;
  background: transparent url('../images/logo.png') center center no-repeat;
  left: 50%;
  margin-left: -76px;
  top: 70px;
  text-indent: -999em;
  display: none
}

#transition {
  width:100%;
  height: 9000px;
  background: transparent url('../images/scene-transit-1e.jpg') 0 0 no-repeat fixed;
}

#panel-1 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-a.jpg') top center no-repeat;
}

#panel-2 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-b2.jpg') top center no-repeat;
}

#panel-3 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-c.jpg') top center no-repeat;
}

#fox {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 314px;
  background: transparent url('../images/fox4.gif') top center no-repeat;
}

#moose {
  position: absolute;
  bottom: 0px;
  width: 281px;
  height: 446px;
  background: transparent url('../images/moose2.gif') top center no-repeat;
}

#light-cover-1 {
  position: absolute;
  bottom: 0px;
  width: 111px;
  height: 104px;
  background: transparent url('../images/light-cover.png') top center no-repeat;
}

#balloon {
  width: 111px;
  height: 204px;
  position: absolute;
  top: 100px;
  background: transparent url('../images/balloon3.png') top center no-repeat;
  animation: balloon 30s;
  -webkit-animation: balloon 30s infinite linear; /* Safari and Chrome */
}

#wave {
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  height: 200px;
  background: transparent url('../images/wave2.png') top center no-repeat;
  animation: wave 5s;
  -webkit-animation: wave 5s infinite linear; /* Safari and Chrome */
  z-index:2;
}

#boat {
  width: 614px;
  height: 409px;
  position: absolute;
  left: 50%;
  margin-left: -307px;
  background: transparent url('../images/boat.png') top center no-repeat;
  z-index: 1;
  animation: boat 6s;
  -webkit-animation: boat 6s infinite linear; /* Safari and Chrome */
}

@keyframes ride
{
0% {top: 140px;}
50% {top: 145px;}
100% {top: 140px;}
}

@-webkit-keyframes ride /* Safari and Chrome */
{
0% {top: 140px;}
50% {top: 145px;}
100% {top: 140px;}
}

@keyframes balloon
{
0% {right: -100%;}
50% {right: 50%;}
100% {right: 200%;}
}

@-webkit-keyframes balloon /* Safari and Chrome */
{
0% {right: -100%;}
50% {right: 50%;}
100% {right: 200%;}
}

@keyframes wave
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@-webkit-keyframes wave
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@keyframes boat
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@-webkit-keyframes boat
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}


