* {margin: 0; padding: 0}
body, html {position: relative; width: 100%; height: 100%;   font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased;}
#scene-1 {width: 100%; height: 100%; min-height: 13000px}
.elements {position: absolute;}
.container {position: fixed; overflow: hidden;width: 1000px; margin: 0 0 0 -500px; top: 100px; display: block; height: 600px; left: 50%; background: white }
#scene1a {background: transparent url('../images/bg-scene1.gif') center center no-repeat; width: 1000px; height: 600px;}

#scene2a {width:300px; height: 500px; background: url('../images/bg-scene2.png') top center no-repeat; left: 0;}
#scene2b {width:300px; height: 600px; background: url('../images/bg-scene3.png') top center no-repeat; left: 320px;}
#scene2c {width:300px; height: 500px; background: url('../images/bg-scene4.png') top center no-repeat; left: 640px;}
#scene2-alert a {width: 211px;height: 206px;display: block; background: transparent url('../images/notif-bear.png') center center no-repeat;}
#scene2-alert {width: 211px; top: 100px; height: 206px; left: 50%; margin-left: -150px;}
#nav {position: fixed; top: 2%; left: 40%}
#interText1 {text-align: center; padding: 50px 0 0; font-size: 1.5em}
.scroll {position: relative; z-index: 20;}
.popup {display: none; padding: 20px; background: white; -webkit-border-radius: 10px; border-radius: 10px; position: absolute; top: -30%; border: 1px solid #ccc;}

#story-1 {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
  line-height: 1.6em;
  position: fixed;
  width: 400px;
  top: 30%;
  color: white;
  right: 5%;
}

#story-2 {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
  line-height: 1.6em;
  position: fixed;
  width: 400px;
  text-align: center;
  top: 5%;
  color: #6A8DB2;
  left: 50%;
  margin-left: -200px;
  z-index:11;
}

#story-3 {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
  line-height: 1.6em;
  position: fixed;
  width: 400px;
  text-align: center;
  top: 10%;
  color: white;
  left: 50%;
  margin-left: -200px;
  z-index:11;
}

#story-4 {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
  line-height: 1.6em;
  position: fixed;
  width: 400px;
  text-align: center;
  top: 10%;
  color: white;
  left: 50%;
  margin-left: -200px;
  z-index:11;
}

#story-5 {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
  line-height: 1.6em;
  position: fixed;
  width: 400px;
  text-align: center;
  top: 10%;
  color: white;
  left: 50%;
  margin-left: -200px;
  z-index:11;
}

#header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: white url('../images/scene-first4.jpg') top center no-repeat;
  height: 1760px;
  position: relative;
}
#bear-scene1 {
  background: transparent url('../images/bear15.gif') center center no-repeat;
  background-size: 100%;
  width: 320px;
  height: 520px;
  bottom: 0;
  position: absolute;
  z-index: 3;
}
#ride {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 50%;
  margin-left: -45px;
  top: 140px;
  color: #D3C99A;
  text-decoration: none;
  text-align: center
  animation: ride 2s;
  -webkit-animation: ride 2s infinite; /* Safari and Chrome */
}

#ride span {
  font-size: 1.4em;
  display: inline-block;
  *zoom: 1;
  display: inline
}

#bear {
  width: 320px;
  height: 520px;
  display: block
}

#scene-2, #scene-2-stop {
  width: 100%;
  height: 750px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1
}

#popup-send {
  width: 250px;
  height: 250px;
  display:none;
  position: fixed;
  bottom: 40%;
  right: 25%;
  z-index: 5
}

#popup-send a {
  width: 250px;
  height: 250px;
  display: block;
  text-indent: -999em;
  background: transparent url('../images/handbear6.gif') center center no-repeat;
}

#plane-mini {
  width: 118px;
  height: 71px;
  background: transparent url('../images/plane-mini2.png') center center no-repeat;
  display: none;
  position: absolute;
  bottom: 13%;
  right: 43%;
  z-index: 2
}

#plane-small {
  width: 250px;
  height: 150px;
  position: fixed;
  top: 30%;
  background: transparent url('../images/plane-small2.png') center center no-repeat;
}

#cloud-1 {
  width: 149px;
  height: 45px;
  position: absolute;
  top: 300px;
  left: 100px;
  background: transparent url('../images/cloud-1.png') center center no-repeat;
  animation: cloud1 70s;
  -webkit-animation: cloud1 70s infinite linear; /* Safari and Chrome */
}

#cloud-2 {
  width: 216px;
  height: 103px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: transparent url('../images/cloud-2.png') center center no-repeat;
  animation: cloud2 72s;
  -webkit-animation: cloud2 72s infinite linear; /* Safari and Chrome */
}

#cloud-3 {
  width: 144px;
  height: 71px;
  position: absolute;
  top: 350px;
  left: 100px;
  background: transparent url('../images/cloud-3.png') center center no-repeat;
  animation: cloud3 68s;
  -webkit-animation: cloud3 68s infinite linear; /* Safari and Chrome */
}

#cloud-4 {
  width: 107px;
  height: 55px;
  position: absolute;
  top: 200px;
  left: 100px;
  background: transparent url('../images/cloud-4.png') center center no-repeat;
  animation: cloud4 74s;
  -webkit-animation: cloud4 74s infinite linear; /* Safari and Chrome */
}

#logo {
  width: 152px;
  height: 55px;
  position: absolute;
  background: transparent url('../images/logo.png') center center no-repeat;
  left: 50%;
  margin-left: -76px;
  top: 70px;
  text-indent: -999em;
  display: none;
}

#tips {
  position: fixed;
  padding: 20px;
  width: 300px;
  color: #444;
  top: 20%;
  left: 50%;
  margin-left: -160px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-size: .9em;
  z-index: 10
}

#infoBar {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 20px 0;
  background: rgba(0,0,0,0.8);
  color: #efefef;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
/*  font-family: 'VT323', cursive;*/
  font-size: 1em;
}

/*#infoReveal {
  border: 1px solid #666;
  height: 40px
}*/

#transition {
  width:100%;
  height: 15000px;
  position: relative;
  background: transparent url('../images/scene-transit-1e.jpg') 0 0 no-repeat fixed;
}

.panel {cursor:crosshair; z-index: 5;}

#panel-1 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-a.jpg') top center no-repeat;
}

#panel-2 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-b2.jpg') top center no-repeat;
}

#panel-3 {
  position: fixed;
  width: 33%;
  height: 680px;
  overflow: hidden;
  background: transparent url('../images/panel-c.jpg') top center no-repeat;
}

#fox {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 314px;
  background: transparent url('../images/fox4.gif') top center no-repeat;
}

#moose {
  position: absolute;
  bottom: 0px;
  width: 281px;
  height: 446px;
  background: transparent url('../images/moose2.gif') top center no-repeat;
}

#light-cover-1 {
  position: absolute;
  bottom: 0px;
  width: 111px;
  height: 104px;
  background: transparent url('../images/light-cover.png') top center no-repeat;
}

#balloon {
  width: 111px;
  height: 204px;
  position: absolute;
  top: 100px;
  background: transparent url('../images/balloon3.png') top center no-repeat;
  animation: balloon 30s;
  -webkit-animation: balloon 30s infinite linear; /* Safari and Chrome */
}

#wave {
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  height: 200px;
  background: transparent url('../images/wave2.png') top center no-repeat;
  animation: wave 5s;
  -webkit-animation: wave 5s infinite linear; /* Safari and Chrome */
  z-index:2;
}

#boat {
  width: 614px;
  height: 409px;
  position: absolute;
  left: 50%;
  margin-left: -307px;
  background: transparent url('../images/boat.png') top center no-repeat;
  z-index: 1;
  animation: boat 6s;
  -webkit-animation: boat 6s infinite linear; /* Safari and Chrome */
}

#scene-2-stop {
  height: 3900px
}

#bear-notif {
  width: 220px;
  height: 220px;
  background: transparent url('../images/notif-bear.png') center center no-repeat;
  position: fixed;
  bottom: 10%;
  margin-left: -110px;
  left: 50%;
  display: block;
  z-index: 2
}

#scene-3 {
  width: 1365px;
  overflow: hidden;
  z-index: 31;
  height: 4500px;
  background: transparent url('../images/scenes3.jpg') 0 0 no-repeat fixed;
  margin: 0 auto;
}

#scene-3-a, #scene-3-b,
#scene-3-c
 {
  width: 100%;
  height: 1500px;
  position: relative
}

#nav-slider {
  position: fixed;
  top: 5%;
  z-index: 30;
  width: 150px;
  margin-left: -75px;
  left: 50%;
  list-style-type: none
}

#nav-slider li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#nav-slider a {
  display: block;
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #ccc;
  margin: 0 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.character {
  position: fixed;
  top: 570px;
}

#fox-scene {
  width: 157px;
  height: 247px;
  display: block;
  left: 100px;
  background: transparent url('../images/ms-fox.png') center center no-repeat;
}

#elephant {
  width: 267px;
  height: 438px;
  top: 395px;
  display: block;
  background: transparent url('../images/elephant.png') center center no-repeat;
}

#lionness {
  width: 207px;
  height: 394px;
  top: 430px;
  display: block;
  background: transparent url('../images/lionness.png') center center no-repeat;
}

#moose-character {
  width: 276px;
  height: 438px;
  display: block;
  top: 370px;
  background: transparent url('../images/moose-scene.png') center center no-repeat;
}

#bear-character {
  width: 240px;
  height: 434px;
  display: block;
  top: 395px;
  left: 50%;
  margin-left: -120px;
  background: transparent url('../images/bear-scene.png') center center no-repeat;
}

#flamingo {
  width: 163px;
  height: 531px;
  top: 305px;
  display: block;
  background: transparent url('../images/flamingo.png') center center no-repeat;
}

#raccoon {
  width: 192px;
  height: 236px;
  display: block;
  right: 100px;
  background: transparent url('../images/raccoon.png') center center no-repeat;
}

#panda {
  width: 245px;
  height: 419px;
  top: 395px;
  display: block;
  background: transparent url('../images/panda.png') center center no-repeat;
}

@keyframes ride
{
0% {top: 140px;}
50% {top: 145px;}
100% {top: 140px;}
}

@-webkit-keyframes ride /* Safari and Chrome */
{
0% {top: 140px;}
50% {top: 145px;}
100% {top: 140px;}
}

@keyframes balloon
{
0% {right: -100%;}
50% {right: 50%;}
100% {right: 200%;}
}

@-webkit-keyframes balloon /* Safari and Chrome */
{
0% {right: -100%;}
50% {right: 50%;}
100% {right: 200%;}
}

@keyframes cloud1
{
0% {left: -10%;}
100% {left: 100%;}
}

@-webkit-keyframes cloud1 /* Safari and Chrome */
{
0% {left: -10%;}
100% {left: 100%;}
}

@keyframes cloud2
{
0% {left: -40%;}
100% {left: 100%;}
}

@-webkit-keyframes cloud2 /* Safari and Chrome */
{
0% {left: -40%;}
100% {left: 100%;}
}

@keyframes cloud3
{
0% {left: -70%;}
100% {left: 100%;}
}

@-webkit-keyframes cloud3 /* Safari and Chrome */
{
0% {left: -70%;}
100% {left: 100%;}
}

@keyframes cloud4
{
0% {left: -50%;}
100% {left: 100%;}
}

@-webkit-keyframes cloud4 /* Safari and Chrome */
{
0% {left: -50%;}
100% {left: 100%;}
}


@keyframes wave
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@-webkit-keyframes wave
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@keyframes boat
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}

@-webkit-keyframes boat
{
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
25% {
  -webkit-transform: rotate(-2deg);
  -moz-transform-origin: rotate(-2deg);
  -o-transform-origin: rotate(-2deg);
  transform-origin: rotate(-2deg);
}
50% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
75% {
  -webkit-transform: rotate(2deg);
  -moz-transform-origin: rotate(2deg);
  -o-transform-origin: rotate(2deg);
  transform-origin: rotate(2deg);
}
100% {
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: rotate(0deg);
  -o-transform-origin: rotate(0deg);
  transform-origin: rotate(0deg);
}
}


