/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/global.sass */
body, html {
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 1, ../sass/backgrounds.sass */
#m-box--backgrounds {
  width: 100%;
  height: 100%;
  position: fixed; }
  /* line 5, ../sass/backgrounds.sass */
  #m-box--backgrounds div {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1; }

/* line 11, ../sass/backgrounds.sass */
#m-box--empty-bg1 {
  background: transparent url("../images/scene-first.jpg") top center no-repeat fixed; }

/* line 14, ../sass/backgrounds.sass */
#m-box--empty-bg2 {
  background: transparent url("../images/scene-transit.jpg") 0 0 no-repeat fixed; }

/* line 17, ../sass/backgrounds.sass */
#m-box--empty-bg3 {
  background: transparent url("../images/scenes3-a.jpg") top center no-repeat fixed; }

/* line 20, ../sass/backgrounds.sass */
#m-box--empty-bg4 {
  background: transparent url("../images/scenes3-b.jpg") top center no-repeat fixed; }

/* line 23, ../sass/backgrounds.sass */
#m-box--empty-bg5 {
  background: transparent url("../images/scenes3-c.jpg") top center no-repeat fixed; }

/* line 26, ../sass/backgrounds.sass */
#m-box--empty-bg6 {
  background: transparent url("../images/scenes3-d.jpg") top center no-repeat fixed; }

/* line 1, ../sass/scenes.sass */
#m-box--scene-1 {
  height: 2000px; }

/* line 4, ../sass/scenes.sass */
#m-box--scene-2 {
  height: 2000px; }

/* line 7, ../sass/scenes.sass */
#m-box--scene-3 {
  height: 6000px; }

/* line 10, ../sass/scenes.sass */
#m-box--scene-4 {
  height: 1500px; }

/* line 13, ../sass/scenes.sass */
#m-box--scene-5 {
  height: 1500px; }

/* line 16, ../sass/scenes.sass */
#m-box--scene-6 {
  height: 2500px; }

/* line 19, ../sass/scenes.sass */
#m-box--scene-7 {
  height: 2500px; }

/* line 22, ../sass/scenes.sass */
#m-box--scene-8 {
  height: 1000px; }

/* line 25, ../sass/scenes.sass */
#m-box--scene-9 {
  height: 1000px; }

/* line 28, ../sass/scenes.sass */
#m-box--scene-10 {
  height: 3500px; }

/* line 1, ../sass/elements.sass */
.m-box--elements {
  position: fixed;
  z-index: 2; }

/* line 4, ../sass/elements.sass */
h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.png?1380015223');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 300px;
  margin-left: -100px;
  left: 50%; }

/* line 8, ../sass/elements.sass */
.m-element--bear {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/bear.gif?1376907254');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 399px;
  height: 520px;
  top: 200px;
  z-index: 3; }

/* line 13, ../sass/elements.sass */
#m-box--scroll {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/scroll.gif?1380732413');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  left: 50%;
  bottom: 150px; }

/* line 18, ../sass/elements.sass */
.m-box--close-view-phone {
  width: 700px;
  height: 700px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #66908c url("../images/transition-1.png") center center no-repeat;
  z-index: 13;
  text-indent: -999em;
  display: block;
  margin-left: -350px;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #efefef; }

/* line 30, ../sass/elements.sass */
.m-element--small-plane {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/plane-mini.png?1379863497');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 118px;
  height: 71px;
  right: 45%;
  z-index: 4; }

/* line 35, ../sass/elements.sass */
.m-element--plane-large {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/plane-large.png?1380026035');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 250px;
  height: 200px;
  top: 300px;
  z-index: 10; }

/* line 40, ../sass/elements.sass */
.m-element--plane-large-msg {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/plane-large-msg.png?1380445817');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 500px;
  height: 200px;
  top: 300px;
  z-index: 10; }

/* line 45, ../sass/elements.sass */
.m-element--sun {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 10%; }

/* line 51, ../sass/elements.sass */
.m-sun {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/sun.png?1380020647');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  left: 50%;
  position: absolute;
  top: 20px; }

/* line 57, ../sass/elements.sass */
.m-sun--crown {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/sun-crown.png?1380020676');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 193px;
  height: 193px;
  margin: 0 auto;
  position: absolute;
  margin-left: -96.5px;
  left: 50%; }

/* line 63, ../sass/elements.sass */
.m-element--cloud1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-1.png?1380026187');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 60px; }

/* line 66, ../sass/elements.sass */
.m-element--cloud2 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-2.png?1379863497');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 216px;
  height: 103px; }

/* line 69, ../sass/elements.sass */
.m-element--cloud3 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-3.png?1379863497');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 144px;
  height: 71px; }

/* line 72, ../sass/elements.sass */
.m-element--cloud4 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-4.png?1379863497');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 107px;
  height: 55px; }

/* line 75, ../sass/elements.sass */
.m-element--cloud5 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-5.png?1380025226');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 520px;
  height: 300px;
  z-index: 11; }

/* line 79, ../sass/elements.sass */
.m-element--cloud6 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/cloud-6.png?1380025629');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 80px;
  z-index: 1; }

/* line 85, ../sass/elements.sass */
[class*="m-element--panel"] {
  width: 33.33%;
  height: 670px;
  overflow: hidden; }

/* line 90, ../sass/elements.sass */
.m-element--panelA {
  background: transparent url("../images/panel-a.jpg") top center no-repeat;
  left: 0;
  z-index: 3; }

/* line 95, ../sass/elements.sass */
.m-element--panelB {
  background: transparent url("../images/panel-b.jpg") top center no-repeat;
  left: 33.33%;
  z-index: 3; }

/* line 100, ../sass/elements.sass */
.m-element--panelC {
  background: transparent url("../images/panel-c.jpg") top center no-repeat;
  left: 66.66%;
  z-index: 3; }

/* line 105, ../sass/elements.sass */
.m-element--panelA-blurred {
  background: transparent url("../images/panel-a-blurred.jpg") top center no-repeat;
  z-index: 4;
  left: 0; }

/* line 110, ../sass/elements.sass */
.m-element--panelB-blurred {
  background: transparent url("../images/panel-b-blurred.jpg") top center no-repeat;
  z-index: 4;
  left: 33.33%; }

/* line 115, ../sass/elements.sass */
.m-element--panelC-blurred {
  background: transparent url("../images/panel-c-blurred.jpg") top center no-repeat;
  z-index: 4;
  left: 66.66%; }

/* line 120, ../sass/elements.sass */
.m-element--balloon, .m-element--ballon-load {
  width: 111px;
  height: 204px;
  position: absolute;
  top: 100px;
  z-index: 3;
  background: transparent url("../images/balloon-v2.png") top center no-repeat;
  -webkit-animation: balloon 30s infinite linear;
  -moz-animation: balloon 30s infinite linear;
  animation: balloon 30s infinite linear; }
  /* line 130, ../sass/elements.sass */
  .m-element--balloon.blurred, .m-element--ballon-load.blurred {
    background: transparent url("../images/balloon-v2-blurred.png") top center no-repeat;
    z-index: 4; }

/* line 134, ../sass/elements.sass */
.m-element--ballon-load {
  position: fixed;
  -webkit-animation: balloon2 30s infinite linear;
  -moz-animation: balloon2 30s infinite linear;
  animation: balloon2 30s infinite linear; }

/* line 139, ../sass/elements.sass */
.m-element--wave {
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  height: 200px;
  background: transparent url("../images/wave.png") top center no-repeat;
  -webkit-animation: wave 5s infinite linear;
  -moz-animation: wave 5s infinite linear;
  animation: wave 5s;
  z-index: 4; }
  /* line 150, ../sass/elements.sass */
  .m-element--wave.blurred {
    background: transparent url("../images/wave-blurred.png") top center no-repeat;
    z-index: 5; }

/* line 154, ../sass/elements.sass */
.m-element--boat {
  width: 614px;
  height: 409px;
  position: absolute;
  right: 50%;
  margin-right: -307px;
  background: transparent url("../images/boat.png") top center no-repeat;
  z-index: 3;
  -webkit-animation: boat 6s infinite linear;
  -moz-animation: boat 6s infinite linear;
  animation: boat 6s infinite linear; }
  /* line 165, ../sass/elements.sass */
  .m-element--boat.blurred {
    background: transparent url("../images/boat-blurred.png") top center no-repeat;
    z-index: 4; }

/* line 169, ../sass/elements.sass */
.m-element--fox {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fox.gif?1376927432');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 314px;
  position: absolute;
  z-index: 3; }
  /* line 173, ../sass/elements.sass */
  .m-element--fox.blurred {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/fox-blurred.png?1379863498');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: 314px;
    z-index: 4; }

/* line 177, ../sass/elements.sass */
.m-element--moose {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/moose.gif?1376929136');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 281px;
  height: 446px;
  position: absolute;
  z-index: 3; }
  /* line 181, ../sass/elements.sass */
  .m-element--moose.blurred {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/moose-blurred.png?1379863498');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 300px;
    height: 446px;
    z-index: 4;
    width: 301px; }

/* line 186, ../sass/elements.sass */
.m-element--bear-large {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/xxl-bear.png?1379863798');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 700px;
  height: 600px;
  right: 5%;
  z-index: 10; }

/* line 191, ../sass/elements.sass */
.m-element--sea-donkey {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/underwater-donkey.png?1380548094');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 111px;
  height: 154px;
  position: absolute;
  z-index: 30;
  margin-left: -55.5px;
  left: 50%;
  -webkit-animation: donkey 15s infinite linear;
  -moz-animation: donkey 15s infinite linear;
  animation: donkey 15s infinite linear; }

/* line 200, ../sass/elements.sass */
.m-box--elements-container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin-left: -500px;
  left: 50%;
  overflow: hidden; }

/* line 207, ../sass/elements.sass */
.m-element--bear-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/bear-scene.png?1380549767');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 240px;
  height: 434px;
  top: 350px;
  z-index: 10;
  position: absolute !important; }

/* line 213, ../sass/elements.sass */
.m-element--fox-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fox-scene.png?1380542947');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 157px;
  height: 247px;
  top: 520px;
  position: absolute !important; }

/* line 217, ../sass/elements.sass */
.m-element--racoon-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/raccoon.png?1380542283');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 192px;
  height: 236px;
  top: 540px;
  position: absolute !important; }

/* line 221, ../sass/elements.sass */
.m-element--flamingo-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/flamingo.png?1380543060');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 163px;
  height: 531px;
  top: 250px;
  position: absolute !important; }

/* line 226, ../sass/elements.sass */
.m-element--elephant-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/elephant.png?1380543092');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 267px;
  height: 438px;
  top: 420px;
  position: absolute !important; }

/* line 231, ../sass/elements.sass */
.m-element--panda-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/panda.png?1380542379');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 245px;
  height: 419px;
  top: 380px;
  position: absolute !important; }

/* line 236, ../sass/elements.sass */
.m-element--moose-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/moose-scene.png?1380542417');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 276px;
  height: 438px;
  top: 340px;
  position: absolute !important; }

/* line 241, ../sass/elements.sass */
.m-element--lion-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/lionness.png?1380542899');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 207px;
  height: 394px;
  top: 385px;
  position: absolute !important; }

/* line 246, ../sass/elements.sass */
.m-element--donkey-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/donkey.png?1380036739');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 207px;
  height: 440px;
  top: 250px;
  position: absolute !important; }

/* line 251, ../sass/elements.sass */
.m-element--table-scene {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/table.png?1380292950');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 996px;
  height: 393px;
  margin-left: -442px;
  left: 50%;
  z-index: 11;
  position: absolute !important; }

/* line 260, ../sass/elements.sass */
[class*="txt-box"] {
  font-family: "Boogaloo", cursive;
  font-size: 2em;
  line-height: 1.25em;
  width: 500px;
  z-index: 12; }

/* line 266, ../sass/elements.sass */
[class*="m-bubble"] {
  font-family: "Boogaloo", cursive;
  color: #8a8a7b;
  font-size: 1.625em;
  line-height: 1.53846em;
  line-height: 1.1em;
  width: 80%;
  position: absolute;
  text-align: center;
  margin-left: -40%;
  left: 50%;
  min-height: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent url("../images/speech-bubble.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  z-index: 10; }

/* line 281, ../sass/elements.sass */
.txt-box--scene2 {
  left: 10%;
  z-index: 15;
  background: transparent url("../images/speech-bubble.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 450px;
  min-height: 350px;
  line-height: 250px;
  text-align: center;
  color: #8a8a7b; }

/* line 292, ../sass/elements.sass */
.m-bubble--fox {
  top: 10%; }
  /* line 294, ../sass/elements.sass */
  .m-bubble--fox p {
    padding-top: 20%; }

/* line 297, ../sass/elements.sass */
.m-bubble--lion {
  top: 2%; }
  /* line 299, ../sass/elements.sass */
  .m-bubble--lion p {
    padding-top: 20%; }

/* line 302, ../sass/elements.sass */
.m-bubble--moose {
  top: 7%; }
  /* line 304, ../sass/elements.sass */
  .m-bubble--moose p {
    padding-top: 20%; }

/* line 307, ../sass/elements.sass */
.txt-box--scene1, .txt-box--scene4 {
  color: white;
  right: 5%; }

/* line 311, ../sass/elements.sass */
.txt-box--scene4 {
  width: 400px; }

/* line 314, ../sass/elements.sass */
.txt-box--scene3 {
  color: white;
  margin-left: -250px;
  left: 50%;
  text-align: center; }

/* line 319, ../sass/elements.sass */
.m-box--elements.connect-with-facebook {
  width: 200px;
  margin-left: -100px;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }

/* line 328, ../sass/elements.sass */
.m-list--main-nav {
  position: absolute;
  margin-left: -115px;
  left: 50%;
  padding: 0.75em 0.65em 0;
  width: 230px; }
  /* line 333, ../sass/elements.sass */
  .m-list--main-nav li {
    display: inline-block;
    float: left;
    margin: 0 4px; }
  /* line 337, ../sass/elements.sass */
  .m-list--main-nav a {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-indent: -999em;
    display: inline-block;
    float: left;
    background: #6e645c; }

/* line 346, ../sass/elements.sass */
.m-box--share {
  width: 250px;
  margin-left: -125px;
  left: 50%;
  text-align: center;
  line-height: 30px;
  z-index: 200; }
  /* line 352, ../sass/elements.sass */
  .m-box--share .twitter-share-button {
    position: relative;
    top: 3px;
    width: 57px !important;
    float: left;
    margin: 0 20px 0 57px; }
  /* line 358, ../sass/elements.sass */
  .m-box--share .like {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/like.png?1380299540');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 65px;
    height: 28px;
    display: block;
    float: left; }

/* line 365, ../sass/elements.sass */
.m-list--main-nav-container {
  position: fixed;
  z-index: 20;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  left: 0;
  height: 40px; }
  /* line 373, ../sass/elements.sass */
  .m-list--main-nav-container .connect-with-facebook {
    position: absolute;
    bottom: 7px;
    right: 10px;
    font-size: 0.75em;
    text-indent: -999em;
    padding-right: 1.8em;
    padding-left: 1.8em;
    display: block;
    background: #ff9124 url("../images/nebber-mini-logo.png") center center no-repeat; }
    /* line 383, ../sass/elements.sass */
    .m-list--main-nav-container .connect-with-facebook:hover {
      opacity: 0.7;
      filter: alpha(opacity=70); }

/* line 388, ../sass/elements.sass */
#qLoverlay {
  background: white url("../images/scene-transit.jpg") 0 0 no-repeat fixed !important;
  z-index: 1000 !important; }

/* line 392, ../sass/elements.sass */
#qLbar {
  display: none; }

/* line 395, ../sass/elements.sass */
#qLpercentage {
  font-family: "Boogaloo", cursive;
  font-size: 1.75em;
  line-height: 1.42857em;
  color: #444444 !important;
  margin-top: 1em !important; }

/* line 401, ../sass/elements.sass */
.isResponsive {
  display: none; }

/* line 404, ../sass/elements.sass */
.m-box--overlay {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%; }

/* line 1, ../sass/animations.sass */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }
  /* line 12, ../sass/animations.sass */
  .animated.hinge {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s; }

@-webkit-keyframes bounceInDown {
  /* line 20, ../sass/animations.sass */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  /* line 23, ../sass/animations.sass */
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }

  /* line 26, ../sass/animations.sass */
  80% {
    -webkit-transform: translateY(-10px); }

  /* line 28, ../sass/animations.sass */
  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes bounceInDown {
  /* line 33, ../sass/animations.sass */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  /* line 36, ../sass/animations.sass */
  60% {
    opacity: 1;
    -moz-transform: translateY(30px); }

  /* line 39, ../sass/animations.sass */
  80% {
    -moz-transform: translateY(-10px); }

  /* line 41, ../sass/animations.sass */
  100% {
    -moz-transform: translateY(0); } }

@-o-keyframes bounceInDown {
  /* line 46, ../sass/animations.sass */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }

  /* line 49, ../sass/animations.sass */
  60% {
    opacity: 1;
    -o-transform: translateY(30px); }

  /* line 52, ../sass/animations.sass */
  80% {
    -o-transform: translateY(-10px); }

  /* line 54, ../sass/animations.sass */
  100% {
    -o-transform: translateY(0); } }

@keyframes bounceInDown {
  /* line 59, ../sass/animations.sass */
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  /* line 62, ../sass/animations.sass */
  60% {
    opacity: 1;
    transform: translateY(30px); }

  /* line 65, ../sass/animations.sass */
  80% {
    transform: translateY(-10px); }

  /* line 67, ../sass/animations.sass */
  100% {
    transform: translateY(0); } }

/* line 71, ../sass/animations.sass */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown; }

@-webkit-keyframes rotation {
  /* line 78, ../sass/animations.sass */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 80, ../sass/animations.sass */
  100% {
    -webkit-transform: rotate(180deg); } }

@-moz-keyframes rotation {
  /* line 83, ../sass/animations.sass */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 85, ../sass/animations.sass */
  100% {
    -moz-transform: rotate(180deg); } }

@keyframes rotation {
  /* line 89, ../sass/animations.sass */
  0% {
    transform: rotate(0deg); }

  /* line 91, ../sass/animations.sass */
  100% {
    transform: rotate(180deg); } }

/* line 94, ../sass/animations.sass */
.rotation {
  -webkit-animation-name: rotation;
  -moz-animation-name: rotation;
  -o-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes balloon {
  /* line 118, ../sass/animations.sass */
  0% {
    right: -100%; }

  /* line 120, ../sass/animations.sass */
  50% {
    right: 50%; }

  /* line 122, ../sass/animations.sass */
  100% {
    right: 200%; } }

@-moz-keyframes balloon {
  /* line 126, ../sass/animations.sass */
  0% {
    right: -100%; }

  /* line 128, ../sass/animations.sass */
  50% {
    right: 50%; }

  /* line 130, ../sass/animations.sass */
  100% {
    right: 200%; } }

@keyframes balloon {
  /* line 134, ../sass/animations.sass */
  0% {
    right: -100%; }

  /* line 136, ../sass/animations.sass */
  50% {
    right: 50%; }

  /* line 138, ../sass/animations.sass */
  100% {
    right: 200%; } }

@-webkit-keyframes balloon2 {
  /* line 142, ../sass/animations.sass */
  0% {
    left: 0%; }

  /* line 144, ../sass/animations.sass */
  50% {
    left: 50%; }

  /* line 146, ../sass/animations.sass */
  100% {
    left: 100%; } }

@-moz-keyframes balloon2 {
  /* line 150, ../sass/animations.sass */
  0% {
    left: 0%; }

  /* line 152, ../sass/animations.sass */
  50% {
    left: 50%; }

  /* line 154, ../sass/animations.sass */
  100% {
    left: 100%; } }

@keyframes balloon2 {
  /* line 158, ../sass/animations.sass */
  0% {
    right: 0%; }

  /* line 160, ../sass/animations.sass */
  50% {
    right: 50%; }

  /* line 162, ../sass/animations.sass */
  100% {
    right: 100%; } }

@-webkit-keyframes donkey {
  /* line 166, ../sass/animations.sass */
  0% {
    bottom: 0%; }

  /* line 168, ../sass/animations.sass */
  25% {
    bottom: -10%; }

  /* line 170, ../sass/animations.sass */
  50% {
    bottom: -5%; }

  /* line 172, ../sass/animations.sass */
  75% {
    bottom: -100%; }

  /* line 174, ../sass/animations.sass */
  100% {
    bottom: 0%; } }

@-moz-keyframes donkey {
  /* line 178, ../sass/animations.sass */
  0% {
    bottom: 0%; }

  /* line 180, ../sass/animations.sass */
  25% {
    bottom: -10%; }

  /* line 182, ../sass/animations.sass */
  50% {
    bottom: -5%; }

  /* line 184, ../sass/animations.sass */
  75% {
    bottom: -100%; }

  /* line 186, ../sass/animations.sass */
  100% {
    bottom: 0%; } }

@keyframes donkey {
  /* line 190, ../sass/animations.sass */
  0% {
    bottom: 0%; }

  /* line 192, ../sass/animations.sass */
  25% {
    bottom: -10%; }

  /* line 194, ../sass/animations.sass */
  50% {
    bottom: -5%; }

  /* line 196, ../sass/animations.sass */
  75% {
    bottom: -100%; }

  /* line 198, ../sass/animations.sass */
  100% {
    bottom: 0%; } }

@keyframes wave {
  /* line 204, ../sass/animations.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 209, ../sass/animations.sass */
  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform-origin: rotate(2deg);
    -o-transform-origin: rotate(2deg);
    transform-origin: rotate(2deg); }

  /* line 214, ../sass/animations.sass */
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 219, ../sass/animations.sass */
  75% {
    -webkit-transform: rotate(-2deg);
    -moz-transform-origin: rotate(-2deg);
    -o-transform-origin: rotate(-2deg);
    transform-origin: rotate(-2deg); }

  /* line 224, ../sass/animations.sass */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); } }

@-webkit-keyframes wave {
  /* line 232, ../sass/animations.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 237, ../sass/animations.sass */
  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform-origin: rotate(2deg);
    -o-transform-origin: rotate(2deg);
    transform-origin: rotate(2deg); }

  /* line 242, ../sass/animations.sass */
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 247, ../sass/animations.sass */
  75% {
    -webkit-transform: rotate(-2deg);
    -moz-transform-origin: rotate(-2deg);
    -o-transform-origin: rotate(-2deg);
    transform-origin: rotate(-2deg); }

  /* line 252, ../sass/animations.sass */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); } }

@keyframes boat {
  /* line 260, ../sass/animations.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 265, ../sass/animations.sass */
  25% {
    -webkit-transform: rotate(-2deg);
    -moz-transform-origin: rotate(-2deg);
    -o-transform-origin: rotate(-2deg);
    transform-origin: rotate(-2deg); }

  /* line 270, ../sass/animations.sass */
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 275, ../sass/animations.sass */
  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform-origin: rotate(2deg);
    -o-transform-origin: rotate(2deg);
    transform-origin: rotate(2deg); }

  /* line 280, ../sass/animations.sass */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); } }

@-webkit-keyframes boat {
  /* line 288, ../sass/animations.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 293, ../sass/animations.sass */
  25% {
    -webkit-transform: rotate(-2deg);
    -moz-transform-origin: rotate(-2deg);
    -o-transform-origin: rotate(-2deg);
    transform-origin: rotate(-2deg); }

  /* line 298, ../sass/animations.sass */
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); }

  /* line 303, ../sass/animations.sass */
  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform-origin: rotate(2deg);
    -o-transform-origin: rotate(2deg);
    transform-origin: rotate(2deg); }

  /* line 308, ../sass/animations.sass */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform-origin: rotate(0deg);
    -o-transform-origin: rotate(0deg);
    transform-origin: rotate(0deg); } }

/* line 314, ../sass/animations.sass */
.animated2 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s; }
  /* line 325, ../sass/animations.sass */
  .animated2.hinge {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s; }

@-webkit-keyframes pulse {
  /* line 333, ../sass/animations.sass */
  0% {
    -webkit-transform: scale(1); }

  /* line 335, ../sass/animations.sass */
  50% {
    -webkit-transform: scale(1.1); }

  /* line 337, ../sass/animations.sass */
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes pulse {
  /* line 342, ../sass/animations.sass */
  0% {
    -moz-transform: scale(1); }

  /* line 344, ../sass/animations.sass */
  50% {
    -moz-transform: scale(1.1); }

  /* line 346, ../sass/animations.sass */
  100% {
    -moz-transform: scale(1); } }

@-o-keyframes pulse {
  /* line 351, ../sass/animations.sass */
  0% {
    -o-transform: scale(1); }

  /* line 353, ../sass/animations.sass */
  50% {
    -o-transform: scale(1.1); }

  /* line 355, ../sass/animations.sass */
  100% {
    -o-transform: scale(1); } }

@keyframes pulse {
  /* line 360, ../sass/animations.sass */
  0% {
    transform: scale(1); }

  /* line 362, ../sass/animations.sass */
  50% {
    transform: scale(1.1); }

  /* line 364, ../sass/animations.sass */
  100% {
    transform: scale(1); } }

/* line 368, ../sass/animations.sass */
.pulse {
  z-index: 1000;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@media only screen and (max-width: 800px) {
  /* line 2, ../sass/responsive.sass */
  .responsive {
    display: none !important; }

  /* line 5, ../sass/responsive.sass */
  body {
    border: 15px solid #efefef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 9, ../sass/responsive.sass */
  .isResponsive {
    display: block !important;
    text-align: center;
    padding: 5% 15% 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 14, ../sass/responsive.sass */
    .isResponsive p {
      margin: 0 0 0.75em;
      line-height: 1.5em;
      font-size: 1.5em;
      color: #444444;
      font-family: "Boogaloo", cursive; }
      /* line 20, ../sass/responsive.sass */
      .isResponsive p a {
        margin: 2.5em 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 0.75em; } }
@media only screen and (max-width: 568px) {
  /* line 27, ../sass/responsive.sass */
  .responsive {
    display: none !important; }

  /* line 30, ../sass/responsive.sass */
  body {
    border: 5px solid #efefef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 34, ../sass/responsive.sass */
  .isResponsive {
    display: block !important;
    text-align: center;
    padding: 5% 15% 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 39, ../sass/responsive.sass */
    .isResponsive img {
      width: 100px;
      margin: 0 auto; }
    /* line 42, ../sass/responsive.sass */
    .isResponsive p {
      margin: 0 0 0.75em;
      line-height: 1.25em;
      font-size: 1em;
      color: #444444;
      font-family: "Boogaloo", cursive; }
      /* line 48, ../sass/responsive.sass */
      .isResponsive p a {
        margin: 2.5em 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 0.75em; } }
/* line 53, ../sass/responsive.sass */
.connect-with-facebook {
  background: #3b5998;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.65em 0.75em;
  margin: 1em 0 0; }
